quimb
numpy
galois
matplotlib
networkx
scipy
sympy
pyzx
kahypar
cotengra
# cotengra needs at least one library for hyperoptimization - not sure if this is the best but otherwise I get this warning:
# site-packages/cotengra/hyperoptimizers/hyper.py:54: UserWarning: Couldn't find `optuna`, `baytune (btb)`, `chocolate`, `nevergrad` or `skopt` so will use completely random sampling in place of hyper-optimization.
optuna 
attrs
celery
redis
python-socketio>=5.10.0
supabase
